<section class="hero">
  <div class="container">
    <div class="hero__inner">
      <h1 class="hero__title">Сайт-портфолио WEB-разработчика</h1>
      <div class="hero__subtitle">
        <p>
          Привет! Меня зовут Илья. Я web-разработчик с опытом работы
          в веб-студии и разработкой сайтов различной сложности. Мой основной фреймворк - Angular.
        </p>
      </div>
      <a class="btn" routerLink="/" fragment="projects">Начнем</a>
    </div>
  </div>
  <div class="hero__image">
    <img src="assets/images/main.svg" alt="Rectangle">
  </div>
</section>
<section class="projects" id="projects">
  <div class="container">
    <div class="projects__inner">
      <div class="section-title">Проекты</div>
      <div class="projects__items">
        <app-project-card *ngFor="let project of projects" [project]="project"></app-project-card>
      </div>
    </div>
  </div>
</section>

<section class="technologies" id="technologies">
  <div class="container">
    <div class="technologies__inner">
      <div class="section-title">Технологии</div>
      <div class="technologies__items">
        <app-technologies-item *ngFor="let skill of skills" [skill]="skill"></app-technologies-item>
      </div>
    </div>
    <div class="technologies__additional">
      <h3 class="technologies__additional-title">Дополнительные технологии и навыки</h3>
      <ul class="technologies__additional-items">
        <li class="additional-skills-item" *ngFor="let additionalSkill of additionalSkills">{{additionalSkill.name}}</li>
      </ul>
    </div>
  </div>
</section>
<section class="about" id="about">
  <div class="container">
    <div class="about__inner">
      <div class="section-title">Обо мне</div>
      <app-timeline></app-timeline>
    </div>
  </div>
</section>
