@import "../../../assets/styles/mixins";
@import "../../../assets/styles/variables";

.hero {
  position: relative;
  padding-top: 40px;

  &__inner {
    display: grid;

    a.btn {
      padding: 19px;

      @include breakpoint(md) {
        padding: 19px 64px;
        width: fit-content;
        margin-left: 20px;
      }

      @include breakpoint(lg) {
        margin-left: 40px;
      }
    }
  }

  &__title {
    font-size: 30px;
    margin-bottom: 60px;
    font-weight: 600;

    @include breakpoint(lg) {
      font-size: 54px;
    }

    @include breakpoint(xl) {
      font-size: 64px;
    }
  }

  &__subtitle {
    color: $gray;
    font-weight: 600;
    line-height: 120%;
    margin-bottom: 60px;

    @include breakpoint(md) {
      margin-left: 20px;
      max-width: 480px;
    }

    @include breakpoint(lg) {
      font-size: 24px;
      max-width: 750px;
      margin-left: 40px;
    }

    @include breakpoint(xl) {
      font-size: 36px;
      max-width: 1000px;
      margin-bottom: 80px;
    }

    p + p {
      margin-top: 20px;
    }

    //font-size: 36px;
  }

  &__image {
    display: none;

    @include breakpoint(xl) {
      display: block;
      position: absolute;
      top: 0;
      right: -192px;
      z-index: -1;
    }
  }
}

.projects__items {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: auto;
  justify-content: center;
  gap: 60px;
  margin-left: 20px;

  @include breakpoint(md) {
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 40px;
  }

  @include breakpoint(lg) {
    grid-template-columns: repeat(3, 1fr);
    margin-left: 40px;
  }
}

.technologies__items {
  display: grid;
  gap: 30px;

  @include breakpoint(lg) {
    grid-template-columns: repeat(2, 1fr);
  }
}

.technologies__additional {
  &-title {
    font-size: 20px;
    font-style: normal;
    line-height: normal;
    margin: 40px 0;

    @include breakpoint(lg) {
      font-size: 28px;
    }
  }

  &-items {
    margin-left: 20px;
    display: grid;
    gap: 30px;
    font-size: 18px;

    @include breakpoint(lg) {
      margin-left: 40px;
      grid-template-columns: repeat(2, 1fr);
      font-size: 22px;
    }

    @include breakpoint(xl) {
      grid-template-columns: repeat(3, 1fr);
    }
  }
}

.about-title {
  font-size: 64px;
  font-style: normal;
  line-height: normal;
  margin-left: 192px;
  margin-bottom: 87px;
}

.about-timeline {
  display: flex;
}

.about-timeline-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;

  &:not(:first-child) {
    margin-left: 30px;
  }

  &:not(:last-child)::before {
    content: "";
    z-index: -1;
    position: absolute;
    width: 480px;
    height: 12px;
    background: #FFF;
    top: 65px;
    left: 224px;
  }
}

.about-timeline-item-year {
  font-size: 36px;
  font-style: normal;
  line-height: normal;
}

.about-timeline-circle {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background: #FFF;
}

.about-timeline-item-description {
  text-align: center;
  font-size: 28px;
  font-style: normal;
  line-height: normal;
}




