<footer class="footer" id="footer">
  <div class="container">
    <div class="footer__inner">
      <div class="footer__contacts">
        <div class="footer__contacts-item">
          <p>Телефон:</p>
          <a href="tel: +79099816015">+7(909)981-60-15</a>
        </div>
        <div class="footer__contacts-item">
          <p>E-mail:</p>
          <a href="mailto:ilya22@inbox.ru">ilya22&#64;inbox.ru</a>
        </div>
      </div>
      <div class="footer__socials-items">
        <div class="footer__socials-item">
          <a href="https://github.com/IlyaDOC" target="_blank">
            <i class="pi pi-github" style="font-size: 48px"></i>
          </a>
        </div>
        <div class="footer__socials-item">
          <a href="https://t.me/ilya_doc" target="_blank">
            <i class="pi pi-telegram" style="font-size: 48px"></i>
          </a>
        </div>
        <div class="footer__socials-item">
          <a href="https://wa.me/79099816015">
            <i class="pi pi-whatsapp" style="font-size: 48px"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</footer>
