<header class="header">
  <div class="container">
    <div class="header__inner">
      <a href="/" class="header__logo">
        <div class="header__logo-image">
          <img src="assets/images/logo.svg" alt="Logo">
        </div>
        <div class="header__logo-text">Portfolio</div>
      </a>
      <nav class="header__navbar" [class.show]="isActive">
        <ul class="header__navbar-items">
          <li>
            <a href="#">Проекты</a>
          </li>
          <li>
            <a href="#">Технологии</a>
          </li>
          <li>
            <a href="#">Обо мне</a>
          </li>
          <li>
            <a href="#">Контакты</a>
          </li>
        </ul>
      </nav>
      <div class="nav-trigger" [class.active]="isActive" (click)="toggleMenu()">
        <i></i>
        <i></i>
        <i></i>
      </div>
    </div>

  </div>
</header>
